-root {
  --secondary-color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(228, 228, 228);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  padding: 10px 30px;
  box-shadow: rgba(0, 20px, 14px, 0.3);
}

header .logo {
  font-size: 20px;
  font-weight: 600;
}

.bis {
  height: 3rem;
}

header .brand {
  font-family: Nunito sans;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #eb7239;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.breadcrumb {
  margin: 16px 48px;
  font-size: 14px;
  color: #838383;
}

.layout {
  display: flex;
  margin: 0 48px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  min-height: 70vh;
}

aside a {
  color: #252525;
  text-decoration: none;
}

aside {
  width: 200px;
  background-color: #ffffff;
  border-right: 1px solid rgb(172, 172, 172);
  padding: 20px 0;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside li {
  padding: 12px 24px;
  cursor: pointer;
  transition: background 0.2s;
}

aside li:hover {
  background-color: #cccccc;
}

main {
  flex: 1;
  padding: 24px;
  background-color: #ffffff;
}

footer {
  text-align: center;
  padding: 16px;
  background-color: #999999;
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
  margin-top: auto;
}
